doctype html
html
  head
    title traderLightChart | a light chart for trader
    link(rel='stylesheet', href='./demo/assets/normalize.css')
  body
    h1 traderLightChart
    p a light chart for trader
    p
      | Check out the 
      a(href='http://justinleoye.github.io/traderLightChart/demo/index.html') project homepage
      | .
    p
      | Check out the 
      a(href='https://github.com/justinleoye/traderLightChart') source code on GitHub
      | .
    p Copyright 2015 Justin Leo ye
