/* Styles for traderLightChart demo
 *
 * Author: Justin Leo ye
 */

/* === resets === */

/* === defaults === */

/* === generic styles */

/* === layout === */

#container {
    //display: none;
}

div.chart-contrainer{
    //width: 100%;
    //height: 100%;
    width: 400px;
    height: 200px;
    min-height: 300px;
}

body {
    font: 10px sans-serif;
}


/* === modules === */

/* === specific styles */

/* === subsections === */

/* === hacks / overrides === */
