/* Styles for traderLightChart demo
 *
 * Author: Justin Leo ye
 */

/* === resets === */

/* === defaults === */

/* === generic styles */

/* === layout === */


div.chart-contrainer{
    width: 600px;
    height: 300px;
}
body {
    font: 10px sans-serif;
}


/* === modules === */

/* === specific styles */

/* === subsections === */

/* === hacks / overrides === */
