/* Styles for traderLightChart demo
 *
 * Author: Justin Leo ye
 */

/* === resets === */

/* === defaults === */

/* === generic styles */

/* === layout === */

body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

path.line {
    fill: none;
    stroke: #000000;
    stroke-width: 1;
}
/* === modules === */

/* === specific styles */

/* === subsections === */

/* === hacks / overrides === */
